useDynLib(IDPmisc, .registration = TRUE)
importFrom("grDevices", "col2rgb", "dev.print", "hsv", "n2mfrow",
           "postscript", "rgb2hsv", "savePlot")
importFrom("methods", "is", "new")
importFrom("stats", "aggregate", "approx", "density", "end", "formula",
           "frequency", "is.ts", "mad", "median", "model.frame",
           "na.omit", "naresid", "predict", "residuals", "sd", "start",
           "ts", "window")
importFrom("graphics", "abline", "axis", "box", "frame", "image",
           "legend", "locator", "layout", "lcm", "lines",
           "mtext", "par", "plot.default", "plot.new", "plot.window", "points",
           "polygon", "segments", "rect", "strheight", "strwidth",
           "text", "title", "xyinch")
importFrom("grid", "circleGrob", "convertHeight", "convertWidth",
           "convertX", "convertY", "frameGrob", "gpar",
           "gList","gTree", "grid.draw", "grid.layout", "grid.newpage",
           "grobHeight", "grobWidth", "is.unit",
           "linesGrob", "placeGrob", "pointsGrob", "polygonGrob",
           "popViewport", "pushViewport", "rectGrob", "segmentsGrob",
           "stringHeight", "stringWidth", "textGrob",
           "unit", "unit.c", "upViewport", "viewport")
importFrom("lattice","trellis.par.get")
export(data.sheet, NaRV.omit, ok, getXY)
export(peaks)
export(col2hsv, IDPcolorRamp, showColors)
export(Arrows, poster.plot, zoom)
export(draw.leg)
export(Image, iplot, ipairs, ilagplot, itermplot, ipanel.smooth, iplotLegend)
export(longtsPlot)
export(clock2cart, cart2clock)
export(general.control, grid.control, title.control, key.control)
export(rose)
export(hr, pw, pw.ai, pw.aw, Td, Td.aw, Tf.ai)
export(rfbaseline)
export(rfbaselineScale)
exportClasses("rose")
exportMethods("plot")

## defunct

