import(graphics,grid,lattice)
export(Arrows,poster.plot,zoom)
export(data.sheet,inf.omit,NaRV.omit,ok)
export(col2hsv,IDPcolorRamp,showColors)
export(draw.leg, getXY)
export(Image,ixyplot,ipairs,ilagplot)
export(peaks)
export(longts.plot)
export(clock2cart,cart2clock)
export(general.control, grid.control, title.control, key.control)
export(rose)

exportClasses("rose")
exportMethods("plot")
